ENVIRONMENT=dev
LOG_LEVEL=INFO

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=can2025
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# LLM Keys
LLM_API_KEY=""
GOOGLE_API_KEY=""

#API Integration
GOOGLE_MAPS_API_KEY=""
GOOGLE_SEARCH_API_KEY=""
GOOGLE_CSE_ID=""